<!doctype html>
<html class="no-js" lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
		<link rel="stylesheet" type="text/css" href="css/index.css" />
	</head>
	<body>
		<div class="page container">
			<h1>Maintenance Costs</h1>
			<h4>by Darryl T. Agostinelli</h4>
			
			<div class="print row">
				<div class="col-6">
					<h2>Web</h2>
					<p><a class="print-read-button" href="/book/">Read Now</a></p>
					<p>Read it on your desktop, phone or table.</p>
					<p>Free!</p>
					<p>Yes, it's ok for you to read it on your computer without paying me.</p>
					<p>Just don't go downloading the HTML and sharing it around. Share this website, not the content.</p>
				</div>
				<div class="col-6">
					<div class="print-image">&nbsp;</div>
				</div>
			</div>
			
			<div class="faq">
				<h2>Frequently Asked Questions</h2>
				
				<h4>This is a long question with a bunch of words in it?</h4>
				<p>This is the answer.  It's longer.  It has some sentences.  It's an example.
			</div>
			
			<div class="whoami">
				<h2>Who Am I?</h2>
				blah blah blah
				picture here
			</div>
			
			<div class="signup">
				<h2>Signup for the mailing list!</h2>
				<input type="text" placeholder="Your email address" />
				<input type="button" value="Yes! Sign me up!" />
			</div>
				
			<div class="credits">
				CREDITS:
				Background Image: https://pixabay.com/en/sea-water-quiet-horizon-landscape-3652697/
			</div>
			
			<footer>
				&copy; 2018-2018 Darryl T. Agostinelli
			</footer>
		</div>
	</body>
	
	<script>
		$(function() {
			
		});
	</script>
</html>

