@media only screen and (min-width: 40em) {
  .container {
    width: 80%; } }
@media only screen and (min-width: 60em) {
  .container {
    width: 80%; } }

.row {
  position: relative; }

.row .col-1, .row .col-2, .row .col-3, .row .col-4, .row .col-5, .row .col-6, .row .col-7, .row .col-8, .row .col-9, .row .col-10, .row .col-11, .row .col-12 {
  float: left;
  margin: 0.5rem 2%;
  min-height: 0.125rem; }

.row::after {
  content: "";
  display: table;
  clear: both; }

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  width: 96%; }

.col-1-sm {
  width: 4.33333%; }

.col-2-sm {
  width: 12.66667%; }

.col-3-sm {
  width: 21%; }

.col-4-sm {
  width: 29.33333%; }

.col-5-sm {
  width: 37.66667%; }

.col-6-sm {
  width: 46%; }

.col-7-sm {
  width: 54.33333%; }

.col-8-sm {
  width: 62.66667%; }

.col-9-sm {
  width: 71%; }

.col-10-sm {
  width: 79.33333%; }

.col-11-sm {
  width: 87.66667%; }

.col-12-sm {
  width: 96%; }

@media only screen and (min-width: 55em) {
  .col-1 {
    width: 4.33333%; }

  .col-2 {
    width: 12.66667%; }

  .col-3 {
    width: 21%; }

  .col-4 {
    width: 29.33333%; }

  .col-5 {
    width: 37.66667%; }

  .col-6 {
    width: 46%; }

  .col-7 {
    width: 54.33333%; }

  .col-8 {
    width: 62.66667%; }

  .col-9 {
    width: 71%; }

  .col-10 {
    width: 79.33333%; }

  .col-11 {
    width: 87.66667%; }

  .col-12 {
    width: 96%; }

  .hidden-sm {
    display: block; } }
body, h1, h2, h3, h4, p, blockquote, code, ul, li, ol, dl, dd, img {
  margin: 0;
  padding: 0; }

body {
  color: #272525;
  font: serif;
  background: #dad7d7;
  /*background-image: url('../img/abstract-ancient-antique-235985.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;*/ }

.page {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 0 20px 0;
  border-left: solid 1px #bbb;
  border-right: solid 1px #bbb;
  border-bottom: solid 1px #999;
  box-shadow: 0 0 40px rgba(71, 51, 31, 0.2);
  background: white; }

img {
  max-width: 100%; }

h1 {
  color: #e11e38;
  font: 300 35px sans-serif;
  font-weight: bold;
  padding: 0 0 2px 0; }

h2 {
  color: #e11e38;
  font: 300 35px sans-serif; }

p {
  margin-bottom: 15px;
  margin-top: 5px;
  line-height: 24px; }

.no-underline {
  text-decoration: none; }

.book-title {
  min-height: 15vh;
  padding-top: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 2rem;
  background-image: url("../img/code-background.png");
  background-repeat: no-repeat;
  background-size: 100% 30vh; }
  .book-title h1 {
    font-family: 'Luckiest Guy', cursive;
    font-weight: normal;
    text-align: center;
    font-size: calc(1.0rem + 4vw);
    color: #e11e38; }
  .book-title h2 {
    font-weight: normal;
    text-align: center;
    font-size: calc(0.75rem + 1.5vw);
    color: #e11e38; }
  .book-title h3 {
    font-weight: bold;
    text-align: center;
    font-size: calc(0.75rem + 1.5vw);
    font-family: 'Oregano', cursive;
    color: #43aa33;
    margin-top: 1.5rem; }

.pitches h3 {
  padding-left: 1.5rem;
  font-family: 'Oregano', cursive;
  font-size: 2.0rem; }
.pitches .pitch-1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: black;
  background-color: #f1feb3;
  border-radius: 5px; }
  .pitches .pitch-1 ul {
    padding-left: 2.5rem; }
  .pitches .pitch-1 li {
    padding-left: 0.5rem;
    padding-right: 1.5rem;
    padding-bottom: 0.5rem; }
.pitches .pitch-2 {
  color: black; }
  .pitches .pitch-2 p {
    margin-bottom: 15px;
    margin-top: 5px;
    line-height: 24px; }
  .pitches .pitch-2 .stuff {
    vertical-align: bottom;
    display: table-cell; }

.print {
  padding: 10px;
  margin: 20px;
  border: 1px solid #272525;
  background-color: #dad7d7;
  border-radius: 15px; }
  .print p {
    margin-bottom: 15px;
    margin-top: 5px;
    line-height: 24px; }
  .print .print-read-button {
    background-color: #579c46;
    color: white;
    padding: 10px;
    margin: 5px;
    display: block;
    border-radius: 5px;
    text-shadow: 0px 2px 1px #272525;
    box-shadow: 0px 2px 1px #272525;
    font: 300 20px sans-serif;
    text-align: center;
    font-weight: 500;
    text-decoration: none; }
  .print .print-image {
    border-radius: 4px;
    background-image: url("../img/code-background.png");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 300px; }
  .print .helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle; }

.faq h2 {
  margin-bottom: 1rem; }

.whoami .my-portrait {
  border: 15px #dad7d7 solid; }
.whoami p {
  margin-bottom: 15px;
  margin-top: 5px;
  line-height: 24px;
  padding-left: 20px; }

.mailing-list-box {
  background-color: #f1feb3;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 15px;
  box-shadow: 1px 1px 0px #dad7d7; }
  .mailing-list-box input {
    margin-top: 10px; }

footer {
  width: 100%;
  margin: 20px auto;
  text-align: center;
  color: #272525;
  font-weight: bold; }

/*# sourceMappingURL=index.css.map */
